maslo.oberonworks.ru {
    reverse_proxy api:8000
}
n8n.oberonworks.ru {
    reverse_proxy 5.129.201.34:5678 {
      flush_interval -1
    }
}
tg.oberonworks.ru {
    handle_path /static* {
    	root * /static
    	file_server browse
    }
    handle {
		reverse_proxy 5.129.201.34:8081
	}
}
chat.oberonworks.ru {
	reverse_proxy 5.129.201.34:9017
}
