requests
python-dotenv
APScheduler
fastapi
uvicorn[standard]
websockets
jinja2
pydantic>=2.0.0
pydantic-settings>=2.0.0
pymongo
pandas
openpyxl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
faststream[rabbit,cli]
schedule
redis
psutil